@import "https://unpkg.com/open-props" layer(design.system);

@layer demo {
  fieldset {
    grid-template-columns:
      var(--col-1, 1fr)
      var(--col-2, 1fr)
      var(--col-3, 1fr)
      var(--col-4, 1fr)
      var(--col-5, 1fr);

    @media (prefers-reduced-motion: no-preference) {
      transition: grid-template-columns 2s var(--ease-spring-5);
    }

    &:has(label:nth-child(1) > input:checked) {
      --col-1: 5fr;
      --col-2: 3fr;
    }
    &:has(label:nth-child(2) > input:checked) {
      --col-1: 2fr;
      --col-2: 5fr;
      --col-3: 2fr;
    }
    &:has(label:nth-child(3) > input:checked) {
      --col-2: 2fr;
      --col-3: 5fr;
      --col-4: 2fr;
    }
    &:has(label:nth-child(4) > input:checked) {
      --col-3: 2fr;
      --col-4: 5fr;
      --col-5: 2fr;
    }
    &:has(label:nth-child(5) > input:checked) {
      --col-4: 3fr;
      --col-5: 5fr;
    }

    > label {
      background-image: var(--_img);
      background-position: center;
      background-size: auto 125%;
      margin-bottom: 30px;
    }
  }
}

@layer demo.support {
  html {
    background: #14171E;
    block-size: 100%;
  }

  body {
    overflow-x: hidden;
  }

  fieldset {
    
    margin: 20px auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 50vh;
    gap: var(--size-2);
    border: none;

   

    > label {
      cursor: pointer;
      border-radius: var(--radius-4);

      &:focus-within {
        outline: 1px solid #fff;
        outline-offset: 5px;
      }

      > input {
        opacity: 0;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 960px; /* Ajusta el valor según tus necesidades */
}

/* Estilos para el nuevo navbar con temática de amor */
.navbar {
  background-color: #fd72b8 !important;
  border-bottom: 2px solid #fa0000;
  padding: 10px 0; 
  margin-bottom: 30px;
}

.navbar a {
  color: #fafafa;
}

.navbar a:hover {
  background-color: #f5f5f5;
  color: #ffffff;
}

.navbar .navbar-toggler-icon {
  background-color: #fff; /* Color del ícono del botón de alternar en el navbar */
}

.navbar .btn-outline-success {
  color: #f5f3f3; /* Color del texto de los botones (rojo) */
  border-color: #ff6666; /* Color del borde de los botones */
}

.navbar .btn-outline-success:hover {
  background-color: #f1332d; /* Color de fondo al pasar el mouse por los botones (rojo más oscuro) */
  color: #ffffff; /* Color del texto al pasar el mouse por los botones */
}

.navbar .btn-outline-success:disabled {
  background-color: #eeeeee; /* Color de fondo de los botones deshabilitados */
  color: #999999; /* Color del texto de los botones deshabilitados */
}